.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.idea/
*.iml
*.ipr
*.iws
.vscode/
**/GeneratedPluginRegistrant.*
**/Pods/
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
